<p-tabView>
    <p-tabPanel header="PR">
        <p-table #dt [value]="tableData" dataKey="reportID" editMode="row">
            <ng-template pTemplate="header">
                <tr style="width: 100px;text-align: center">
                    <th>ID</th>
                    <th>YEARS</th>
                    <th>JAN</th>
                    <th>FEB</th>
                    <th>MARCH</th>
                    <th>APRIL</th>
                    <th>MAY</th>
                    <th>JUNE</th>
                    <th>JULY</th>
                    <th>OCT</th>
                    <th>SEPT</th>
                    <th>OCT</th>
                    <th>NOV</th>
                    <th>DEC</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData" style="text-align: center">
                    <td style="width: 100px;">
                        <!--                        <p-cellEditor>-->
                        <!--                            <ng-template pTemplate="input">-->
                        <!--                                <p-dropdown [options]="years" [(ngModel)]="rowData.id" placeholder="Select Make" [style]="{'minWidth':'80px', 'width': '80px'}"-->
                        <!--                                ></p-dropdown>-->
                        <!--                            </ng-template>-->
                        <!--                            <ng-template pTemplate="output">-->
                        {{ri + 1}}
                        <!--                            </ng-template>-->
                        <!--                        </p-cellEditor>-->
                    </td>

                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="years" [(ngModel)]="rowData.year" placeholder="Select Make"
                                            [style]="{'minWidth':'80px', 'width': '80px'}"
                                ></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.year}}
                            </ng-template>
                        </p-cellEditor>
                    </td>


                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.JAN"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.JAN}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.FEB"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.FEB}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.MARCH"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.MARCH}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.APRIL"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.APRIL}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.MAY"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.MAY}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.JUNE"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.JUNE}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.JULY"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.JULY}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.AUG"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.AUG}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.SEPT"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.SEPT}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.OCT"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.OCT}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.NOV"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.NOV}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" step="0.01" min="0" max="10" [(ngModel)]="rowData.DEC"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.DEC}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center" style="width: 100px;text-align: center">
                        <button *ngIf="!editing" pInitEditableRow class="btn" (click)="onRowEditInit(rowData)">Edit
                        </button>
                        <button *ngIf="editing" pSaveEditableRow class="btn" style="margin-right: .5em"
                                (click)="onRowEditSave(rowData)">Save
                        </button>
                        <button *ngIf="editing" pCancelEditableRow class="btn" (click)="onRowEditCancel(rowData,ri)">
                            Cancel
                        </button>
                        <button *ngIf="editing" pInitEditableRow class="btn" style="margin-right: .5em"
                                (click)="onRowDelete(ri)">Delete
                        </button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
        <button pButton type="button" icon="pi pi-plus" class="ui-button-info" [label]="'Add'"
                pAddRow [table]="dt" [newRow]="newRow()"></button>
    </p-tabPanel>

    <p-tabPanel header="CUF">
        <p-table #d [value]="tableDataCUF" dataKey="id" editMode="row">
            <ng-template pTemplate="header">
                <tr style="width: 100px;text-align: center">
                    <th>ID</th>
                    <th>YEARS</th>
                    <th>JAN</th>
                    <th>FEB</th>
                    <th>MARCH</th>
                    <th>APRIL</th>
                    <th>MAY</th>
                    <th>JUNE</th>
                    <th>JULY</th>
                    <th>OCT</th>
                    <th>SEPT</th>
                    <th>OCT</th>
                    <th>NOV</th>
                    <th>DEC</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData" style="text-align: center">

                    <td style="width: 100px;">
                        <!--                        <p-cellEditor>-->
                        <!--                            <ng-template pTemplate="input">-->
                        <!--                                <p-dropdown [options]="years" [(ngModel)]="rowData.id" placeholder="Select Make" [style]="{'minWidth':'80px', 'width': '80px'}"-->
                        <!--                                ></p-dropdown>-->
                        <!--                            </ng-template>-->
                        <!--                            <ng-template pTemplate="output">-->
                        {{ri + 1}}
                        <!--                            </ng-template>-->
                        <!--                        </p-cellEditor>-->
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.year" style="width: 100px;">

                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.year}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.JAN"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.JAN}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.FEB"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.FEB}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.MARCH"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.MARCH}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.APRIL"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.APRIL}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.MAY"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.MAY}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.JUNE"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.JUNE}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.JULY"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.JULY}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.AUG"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.AUG}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.SEPT"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.SEPT}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.OCT"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.OCT}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.NOV"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.NOV}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="width: 100px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" step="0.01" min="0" max="10" [(ngModel)]="rowData.DEC"
                                       style="width: 100px;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.DEC}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center" style="width: 100px;text-align: center">
                        <button *ngIf="!editing" pInitEditableRow class="btn" (click)="onRowEditInit1(rowData)">Edit
                        </button>
                        <button *ngIf="editing" pSaveEditableRow class="btn" style="margin-right: .5em"
                                (click)="onRowEditSave1(rowData)">Save
                        </button>
                        <button *ngIf="editing" pCancelEditableRow class="btn" (click)="onRowEditCancel1(rowData, ri)">
                            Cancel
                        </button>
                        <button *ngIf="editing" pInitEditableRow class="btn" style="margin-right: .5em"
                                (click)="onRowDelete1(ri)">Delete
                        </button>
                </tr>
            </ng-template>
        </p-table>
        <button pButton type="button" icon="pi pi-plus" class="ui-button-info" [label]="'Add'"
                pAddRow [table]="d" [newRow]="newRow()"></button>
    </p-tabPanel>
</p-tabView>

